@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<style>
    .imgFavourites {
        width: 400px;
        height: 450px;
    }
    .divCenter{
        text-align: center;
    }

</style>
<div class=" divCenter">
    <h2>What inspires us</h2>
    <hr />

    <p>That's quite simple</p>
    <p>Look at this picture</p>


    <figure>
        <img class="imgFavourites" src="/Images/TougenAnkiManga.png" alt="epicness" />
        <figcaption>Manga ~ Tougen Anki</figcaption>
    </figure>

    <p>Is that not tattoo quality?</p>
    <hr />
</div>
<h6>Just kidding</h6>

<hr />
<p>The real inspiration is the effect that these mangas have on people, 
    along with the shear amount of time and effort put into these Japanese style comics.</p>
<p>The Japanese Manga art style is not only gorgeous but also so distinct and iconic.</p>

<p>We exist as an ally to our fellow South African black ink readers and anime lovers alike, as there is a 
    vast manga fan base who find community and entertainment within this interesting hobby.
    We find a passion in sharing our opinions and favourites out there, hoping that some lucky
    soul discovers our life-changing manga suggestions!</p>

<p>Visit our partners <a href ="https://www.crunchyroll.com/comics/manga" target="_blank" >Partners</a> who made this all possible.</p>
<p>Use our <a href="#">Black Ink Promo-Code</a> to get discounts on all the Mangas listed in Favourites, and the first 3 unmentioned Mangas you buy.</p>

