@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Favourites";
}
<style>
    .imgFavourites {
        width: 280px;
        height: 400px;
    }
    .div2 {
        display: flex;
        margin: auto;
        width: 80%;
    }

        .div2 > figure {
            padding: 20px;
        }

    .divMirror {
        display: flex;
        margin: auto;
        width: 60%;
    }

        .divMirror > figure {
            padding: 20px;
        }

    .divCorrection{
        margin-left:4%;
    }
    hr{background-color: white;}
    

</style>

<h1> See our favourites from each genre.</h1>
<br />

<h3>Top Favourite</h3>
<p>
    When it comes to our top favourite mangas, there is no possible
    way of choosing between One Punch Man and MobPsycho100, especially
    since they are created by the name author.
</p>
<div class="div2 divCorrection">
    <figure>
        <img class="imgFavourites" src="/Images/onepunchman.jpg" alt="One Punch Man">
        <figcaption>One Punch Man</figcaption>
        <hr />
    </figure>
  
    <p>
        <br />
        One Punch Man | ワンパンマン<br />
        Artist: ONE<br />
        Genre: Action, Comedy, Supernatural<br />
        Remake illustrated by: Yusuke Murata<br />
        Remake published by: Shueisha<br />
        June 14, 2012 – present<br />
        <br />
        MobPsycho100 | モブサイコ100<br />
        Artist: ONE<br />
        Genre: Action, Comedy, Superhero<br />
        Published: Shogakukan<br />
        April 18, 2012 – December 22, 2017
    </p>

    <figure>
        <img class="imgFavourites" src="/Images/mobpsycho.jpg" alt="MobPsycho100">
        <figcaption>MobPsycho100</figcaption>
        <hr />
    </figure>
</div>

<p>These two mangas each feature a single main character who is over-powered, yet tame and seemingly dense, making for the humor of the show.</p>
<p>
    These characters are so alike yet so different, but both embark on hilarious adventures in this
    action packed comedy manga.
</p>
<br />
<hr />
<br />
<h3>Horror</h3>
<div class="divMirror">
    <figure>
        <img class="imgFavourites" src="/Images/tokyoghoul.jpg" alt="Tokyo Ghoul">
        <figcaption>Tokyo Ghoul</figcaption>
        <hr />
    </figure>
    <p>
        <br />
        Tokyo Ghoul | 東京喰種トーキョーグール<br />
        Written by: Sui Ishida<br />
        Genre: Dark fanstasy, Supernatural thriller<br />
        published by: Shueisha<br />
        September 8, 2011 – September 18, 2014<br />
    </p>
</div>

<p>
    Tokyo Ghoul is a horror manga featuring, you guessed it, ghouls. They live amongst humans, like your friendly neighbour,
    but little did you know your neighbour crave your human flesh.
</p>
<br />
<hr />
<br />

<h3>Fantasy</h3>

<div class="divMirror">
    <figure>
        <img class="imgFavourites" src="/Images/rezero.jpg" alt="Re:Zero">
        <figcaption>Re:Zero</figcaption>
        <hr />
    </figure>
    <p>
        <br />
        Re:Zero − Starting Life in Another World | <br />Re:ゼロから始める異世界生活<br />
        Written by: Tappei Nagatsuki<br />
        Genre: Adventure, Dark fanstasy, Isekai<br />
        Illustrated by: Daichi Matsuse, Makoto Fūgetsu, <br />
        Published by: Media Factory, Square Enix<br />
        October 25, 2014 – January 25, 2017<br />
    </p>
</div>
<p>
    Re:zero is an interesting take on GroundHog Day, where this average character finds himself in an alternative magical universe,
    with a catch of course.
</p>
<br />
<hr />
<br />

<h3>Mystery</h3>

<div class="divMirror">
    <figure>
        <img class="imgFavourites" src="/Images/monster.jpg" alt="Monster">
        <figcaption>Monster</figcaption>
        <hr />
    </figure>
    <p>
        <br />
        Monster<br />
        Written by: Naoki Urasawa<br />
        Genre: Crime, Mystery, Psychological thriller<br />
        Published by: Shogakukan<br />
        December 1994 – December 2001<br />
    </p>
</div>
<p>Kenzo Tenma, a Japanese surgeon living in Germany, gets himself involved with one of his former patients, a cold and calculating killer with a mysterious past...</p>
<br />
<hr />
<br />

<h3>Action</h3>

<div class="divMirror">
    <figure>
        <img class="imgFavourites" src="/Images/myhero.webp" alt="My Hero Acadamia">
        <figcaption>My Hero Acadamia</figcaption>
        <hr />
    </figure>
    <p>
        <br />
        My Hero Acadamia |  僕のヒーローアカデミア<br />
        Written by: Kōhei Horikoshi<br />
        Genre: Adventure, Science fanstasy, Superhero<br />
        Published by: 	Shueisha<br />
        July 7, 2014 – present<br />
    </p>
</div>
<p></p>
<br />
<hr />
<br />

<h3>Comedy</h3>

<div class="divMirror">
    <figure>
        <img class="imgFavourites" src="/Images/saikik.webp" alt="Saiki K">
        <figcaption>Saiki K</figcaption>
        <hr />
    </figure>
    <p>
        <br />
        The Disastrous Life of Saiki K | 斉木楠雄のΨ難<br />
        Written by: Shūichi Asō<br />
        Genre: Comedy, Supernatural<br />
        Published by: Shueisha<br />
        May 14, 2012 – July 26, 2018<br />
    </p>
</div>
<p>Saiki Kusuo, a pink-haired, over-powered human-alen-thing-person with antenas who does totally normal things. Must read!</p>
<br />
<hr />
<br />

<h3>Bonus! If you enjoy crying:</h3>
<div class="divMirror">

    <figure>
        <img class="imgFavourites" src="/Images/wolfchildrens.jpg" alt="Wolf children">
        <figcaption>Wolf children</figcaption>
        <hr />
    </figure>
    <p>
        <br />
        Wolf Children Ame and Yuki| <br />おおかみこどもの雨と雪<br />
        Written by: Hosoda, Mamoru <br />
        Genre: 	Drama, Fantasy, Romance, Slice of Life, Seinen<br />
        Illustrated by: Yuu  <br />
        Published by: Media Factory, Square Enix<br />
        Apr 4, 2012<br />
    </p>
</div>
<p>This manga is based on the film of the same name. *Sobbing* Its so cute.</p>
<br />
<hr />
<br />

<h5>Check out any manga you could dream of in the "Latest News" link above.</h5>
<p>Visit our partners <a href="https://www.crunchyroll.com/comics/manga" target="_blank">Partners</a> who made this all possible.</p>
<p>Use our <a href="#">Black Ink Promo-Code</a> to get discounts on all the Mangas listed in Favourites, and the first 3 unmentioned Mangas you buy.</p>
<p>Or visit our nearest stores for in-store purchases.</p>
<br />
<br />