@{
    ViewData["Title"] = "Black Ink";
}
<style>
    .imgMain {
        position: absolute;
        display: block;
        left: 30%;
        top: 18%;
        width: 40%;
        height: 550px;
    }
 

</style>

<img class="imgMain" src="~/Images/mainpageonepunch.jpg" alt="One punch" />

<div class="text-center">

    
    <p>
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k<br />


        l&emsp;__________________________________________________________________________________________&emsp;B<br />
        a&emsp;_________________________________________________________________________________________.&emsp;l<br />
        c&emsp;_________________________________________________________________________________________.&emsp;a<br />
        k&emsp;_________________________________________________________________________________________.&emsp;c<br />
        I&emsp;__________________________________________________________________________________________&emsp;k<br />
        n&emsp;_________________________________________________________________________________________&emsp;I<br />
        k&emsp;_________________________________________________________________________________________&emsp;n<br />
        B&emsp;_________________________________________________________________________________________&emsp;k<br />
        l&emsp;__________________________________________________________________________________________&emsp;B<br />
        a&emsp;_________________________________________________________________________________________.&emsp;l<br />
        c&emsp;_________________________________________________________________________________________.&emsp;a<br />
        k&emsp;_________________________________________________________________________________________.&emsp;c<br />
        I&emsp;__________________________________________________________________________________________&emsp;k<br />
        n&emsp;_________________________________________________________________________________________&emsp;I<br />
        k&emsp;_________________________________________________________________________________________&emsp;n<br />
        B&emsp;_________________________________________________________________________________________&emsp;k<br />
        l&emsp;__________________________________________________________________________________________&emsp;B<br />
        a&emsp;_________________________________________________________________________________________.&emsp;l<br />
        c&emsp;_________________________________________________________________________________________.&emsp;a<br />
        k&emsp;_________________________________________________________________________________________.&emsp;c<br />
        I&emsp;__________________________________________________________________________________________&emsp;k<br />
        n&emsp;_________________________________________________________________________________________&emsp;I<br />
        k&emsp;_________________________________________________________________________________________&emsp;n<br />



        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k&ensp;
        B&ensp;l&ensp;a&ensp;c&ensp;k &ensp;I&ensp;n&ensp;k
    </p>
</div>



